input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:disabled{
  background-color:#ee5555;
  color:#aaaaaa;
}

label{
    text-align:center;
}

div {
  border-radius: 15px;
  padding: 20px;
  margin-left:30%;
  margin-right:30%;
}

form{
  margin-top:5%;
  margin-left:-25%;
  margin-right:65%;
  position:absolute;
}
form>h1{
    text-align:center;
}

.right-div{
  margin-left:50%;
  margin-top:8%;
  background-color:#222222;
  width:50em;
  height:30em;
  position:absolute;
}